@keyframes hoverOnInput{
  0%, 100% {border-color:grey}
  50% {border-color:limegreen; background-color: rgb(189, 230, 189);}
}
.App{
  margin: 0 auto;
  width: 50%;
}

h1, h2{
  font-family: 'Cinzel', serif;
 
  font-weight: 400;
  text-align: center;
}
h1{
  font-size: 42px;
}
h2{
  font-size: 26px;
}
td{
  height:20px;
  width:20px;
  margin: 0 auto;
  padding: 10px 10px;
  border: 2px solid black;
  text-align: center;
}
table{
  margin: 0 auto;
}
.btn-start{
  display: block;
  position: relative;
  left: 45%;
  border:2px solid black;
  border-radius: 20%;
 
}
.btn-start:hover{
  animation-name:hoverOnInput;
  animation-duration: 1.2s;
}
td:hover{
  animation-name:hoverOnInput;
  animation-duration: 1.2s;
}
span{
  left: 20%;
  position: relative;
}
span h2{
  display:inline;
}
input{
  display: inline;
  font-size: 26px;
  font-family: "Cinzel", cursive;
  border:none;
  border-bottom: 5px solid grey;
  margin: 0 auto;
  width:20%;
  height: 30px;
  caret-color: green;
  
}
input:hover{
  animation-name: hoverOnInput;
  animation-duration: 1.2s;
}
